[user]
    email = ross.samuel.17@gmail.com
    name = 'Sam Ross'
    sigingkey = sam@rosss.dev
[url "git@github.com:"]
    insteadOf = https://github.com/
#[tag]
#    gpgSign = true
[init]
    defaultBranch = master
#[commit]
#    gpgsign = true
