vim/.vim_runtime/temp_dirs/undodir/*
vim/.vim_runtime/sources_non_forked/ack.vim/.netrwhist
vim/.vim_runtime/temp_dirs/yankring_history_v2.txt
vim/.vim_runtime/sources_forked/tlib/doc/tags
vim/.vim_runtime/sources_forked/ctrlp.vim/doc/tags*
vim/.vim_runtime/tags
vim/.vim_runtime/.DS_Store
